/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main {
    text-align: center;
    display: grid;
    justify-content: center;
  }

  .error-code {
    font-size: 5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main {
    text-align: center;
  }

  .error-code {
    font-size: 10rem;
    color: var(--dark);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
