<section class="main">
    <div class="header">
        <div class="logo">
            <p [routerLink]="['/']">Ed
            </p>
        </div>
        <ul class="list-holder">
            <li class="list" [routerLink]="['/projects']" routerLinkActive="router-link-active">projects</li>
            <li class="list" [routerLink]="['/weaknesses']" routerLinkActive="router-link-active">weaknesses</li>
            <li class="list">contact</li>
        </ul>
    </div>
    <div class="white-space"></div>
</section>