<section class="main">
    <app-header></app-header>

    <div class="body">
        <div class="hero">
            <h1 class=" hero-text animate__animated animate__zoomInDown">
                Hello<span class="dot">.</span> <br>
                I am
                Eddie...
            </h1>

            <div class="highlight">
                <div class="l"><i class="fa fa-briefcase animate__animated animate__bounce   animate__delay-4s"
                        aria-hidden="true"></i>
                </div>

                <div class="r">
                    <p class="h-text animate__animated animate__backInLeft animate__delay-1s">
                        Design <i class="fa fa-paint-brush" aria-hidden="true"></i>
                    </p>
                    <p class="h-text animate__animated animate__backInLeft animate__delay-2s">
                        Develop <i class="fa fa-wrench" aria-hidden="true"></i>
                    </p>
                    <p class="h-text animate__animated animate__backInLeft animate__delay-3s">
                        Freelance <i class="fa fa-globe" aria-hidden="true"></i>
                    </p>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="socials">
                <ul class="list-holder">
                    <li>
                        <a class="list" href="https://github.com/edwardspring" target="blank">instagram</a>
                    </li>
                    <li>
                        <a class="list" href="https://github.com/edwardspring" target="blank">github</a>
                    </li>
                    <li>
                        <a class="list" href="https://www.linkedin.com/in/edward-abattam-379bb1169/"
                            target="blank">linkedin</a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright &copy; {{year|date:"yyyy"}} Edward Abattam</p>
            </div>
        </div>

    </div>



</section>